<template>
  <div>
    <div class="right">
        <select id="language" v-model="locale" @change="$i18n.locale = locale">
          <option value="en-US">English</option>
          <option value="tr-TR">Türkçe</option>
        </select>
    </div>
    <div class="classic">
      <h4 id="title2">{{$t('message.title2')}}</h4>
      <div>
        <select class="selects" id="hour" v-model="setHour">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <select class="selects" id="minute" v-model="setMinute">
          <option value="0">0</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
          <option value="55">55</option>
        </select>
      </div>
      <br><br>
      <div>
      <div>
        <label>{{$t('message.suggested')}}<input type="text" name="Suggested" id="Suggested" v-model="FirstTime" disabled></label>
        <label>{{$t('message.suggested')}}<input type="text" name="Suggested" id="Suggested" v-model="SecondTime" disabled></label>
        <input type="text" v-model="ThirdTime" disabled>
      </div><br><br>
      <div>
        <input type="text" v-model="FourthTime" disabled>
        <input type="text" v-model="FifthTime" disabled>
        <input type="text" v-model="SixthTime" disabled>
      </div>
      </div>
      <br><br>
      <button type="button" class="button" @click="goBack">{{$t('message.return')}}</button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      setHour: Number,
      setMinute: Number,
      locale: 'en-US',
    }
  },
  computed: {
    FirstTime(){
      const d = new Date();
      d.setHours(parseInt(this.setHour) - parseInt(1) );
      d.setMinutes(parseInt(this.setMinute) - parseInt(30));
      return d.getHours() + ":" + d.getMinutes();
    },
    SecondTime(){
      const d = new Date();
      d.setHours(parseInt(this.setHour) - parseInt(3) );
      d.setMinutes(parseInt(this.setMinute) - parseInt(0));
      return d.getHours() + ":" + d.getMinutes();
    },
    ThirdTime(){
      const d = new Date();
      d.setHours(parseInt(this.setHour) - parseInt(4) );
      d.setMinutes(parseInt(this.setMinute) - parseInt(30));
      return d.getHours() + ":" + d.getMinutes();
    },
    FourthTime(){
      const d = new Date();
      d.setHours(parseInt(this.setHour) - parseInt(6) );
      d.setMinutes(parseInt(this.setMinute) - parseInt(0));
      return d.getHours() + ":" + d.getMinutes();
    },
    FifthTime(){
      const d = new Date();
      d.setHours(parseInt(this.setHour) - parseInt(7) );
      d.setMinutes(parseInt(this.setMinute) - parseInt(30));
      return d.getHours() + ":" + d.getMinutes();
    },
    SixthTime(){
      const d = new Date();
      d.setHours(parseInt(this.setHour) - parseInt(9) );
      d.setMinutes(parseInt(this.setMinute) - parseInt(0));
      return d.getHours() + ":" + d.getMinutes();
    },
    },
  methods: {
    goBack() {
      this.$router.push("/");
    },
  },
}
</script>

<style scoped>
.classic{
  margin: 10px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
.selects{
  margin-right: 10px; 
  width: 60px;
  font-size: 18px;
  height: 25px;
}
}
@media screen and (min-width: 1001px) and (max-width: 2000px) {
.selects{
  margin-right: 10px; 
  width: 50px;
  font-size: 18px;
  height: 25px;
}
}
@media screen and (min-width: 0px) and (max-width: 500px) {
input {
  color: black;
  background-color: white;
  font-size: 18px;
  display: inline-block;
  width: 3em;
  position: relative;
  top: -3em;
  right: -0.25em;
  border-radius: 0.40em;
}
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
input {
  color: black;
  background-color: white;
  font-size: 18px;
  display: inline-block;
  width: 4em;
  position: relative;
  top: -3em;
  right: -0.2em;
  border-radius: 0.40em;
}
}
@media screen and (min-width: 1000px) and (max-width: 2000px) {
input {
  color: black;
  background-color: white;
  font-size: 18px;
  display: inline-block;
  width: 4em;
  position: relative;
  top: -3em;
  right: -0.2em;
  border-radius: 0.40em;
}
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
label {
  color: white;
  display: inline-block;
  width: 6em;
  /* margin-right: .5em; */
  padding-top: 1.5em;
  font-size: 14px;
}
}
@media screen and (min-width: 1001px) and (max-width: 2000px) {
label {
  color: white;
  display: inline-block;
  width: 6em;
  /* margin-right: .5em; */
  padding-top: 1.5em;
}
}
</style>