<template>
  <div>
    <div class="right">
        <select id="language" v-model="locale" @change="$i18n.locale = locale">
          <option value="en-US">English</option>
          <option value="tr-TR">Türkçe</option>
        </select>
    </div>
    <div class="classic">
      <h3>{{$t('message.title3')}}</h3>
      <br><br><br><br>
      <div>
      <input type="text" v-model="FirstTime"  disabled>
      <input type="text" v-model="SecondTime"  disabled>
      <input type="text" v-model="ThirdTime" disabled>
      </div><br><br>
      <div>
      <input type="text" v-model="FourthTime" disabled>
      <input type="text" v-model="FifthTime" disabled>
      <input type="text" v-model="SixthTime" disabled>
      </div>
      <br><br>
      <button type="button" class="button" @click="goBack">{{$t('message.return')}}</button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      setHour: Number,
      setMinute: Number,
      locale: 'en-US',
    }
  },
  computed: {
    FirstTime(){
      const d = new Date();
      d.setHours(parseInt(d.getHours()) + parseInt(1));
      d.setMinutes(parseInt(d.getMinutes()) + parseInt(30));
      return d.getHours() + ":" + d.getMinutes();
    },
    SecondTime(){
      const d = new Date();
      d.setHours(parseInt(d.getHours()) + parseInt(3));
      d.setMinutes(parseInt(d.getMinutes()) + parseInt(0));
      return d.getHours() + ":" + d.getMinutes();
    },
    ThirdTime(){
      const d = new Date();
      d.setHours(parseInt(d.getHours()) + parseInt(4));
      d.setMinutes(parseInt(d.getMinutes()) + parseInt(30));
      return d.getHours() + ":" + d.getMinutes();
    },
    FourthTime(){
      const d = new Date();
      d.setHours(parseInt(d.getHours()) + parseInt(6));
      d.setMinutes(parseInt(d.getMinutes()) + parseInt(0));
      return d.getHours() + ":" + d.getMinutes();
    },
    FifthTime(){
      const d = new Date();
      d.setHours(parseInt(d.getHours()) + parseInt(7));
      d.setMinutes(parseInt(d.getMinutes()) + parseInt(30));
      return d.getHours() + ":" + d.getMinutes();
    },
    SixthTime(){
      const d = new Date();
      d.setHours(parseInt(d.getHours()) + parseInt(9));
      d.setMinutes(parseInt(d.getMinutes()) + parseInt(0));
      return d.getHours() + ":" + d.getMinutes();
    },
    },
  methods: {
    goBack() {
      this.$router.push("/");
    },
  },
}
</script>

<style scoped>
.classic{
  margin: 10px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
input {
  color: black;
  background-color: white;
  font-size: 18px;
  display: inline-block;
  width: 3em;
  position: relative;
  top: -3em;
  right: -0.25em;
  border-radius: 0.40em;
}
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
input {
  color: black;
  background-color: white;
  font-size: 18px;
  display: inline-block;
  width: 4em;
  position: relative;
  top: -3em;
  right: -0.2em;
  border-radius: 0.40em;
}
}
@media screen and (min-width: 1000px) and (max-width: 2000px) {
input {
  color: black;
  background-color: white;
  font-size: 18px;
  display: inline-block;
  width: 4em;
  position: relative;
  top: -3em;
  right: -0.2em;
  border-radius: 0.40em;
}
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
label {
  color: white;
  display: inline-block;
  width: 6em;
  /* margin-right: .5em; */
  padding-top: 1.5em;
  font-size: 14px;
}
}
@media screen and (min-width: 1001px) and (max-width: 2000px) {
label {
  color: white;
  display: inline-block;
  width: 6em;
  /* margin-right: .5em; */
  padding-top: 1.5em;
}
}
</style>