<template>
  <!-- <div>
    <div>
      <span style="padding-right: 10px; font-size: 20px">TR</span>
      <label style="vertical-align: middle" class="switch">
        <input type="checkbox" v-model="$store.state.isLanguage" />
        <span class="slider round"></span>
      </label>
      <span style="padding-left: 10px; font-size: 20px">EN</span>
    </div>
  </div> -->
  <div>
    <select id="language" @change="$i18n.locale = locale">
          <option value="en-US">English</option>
          <option value="tr-TR">Türkçe</option>
    </select>
  </div>
</template>

<script>
export default {
  data () {
    return {
      locale: 'en-US'
    }
  }
};
</script>

<style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>