<template>
  <div>
    <div class="right">
        <select id="language" v-model="locale" @change="$i18n.locale = locale">
          <option value="en-US"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" alt=""> English</option>
          <option value="tr-TR"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Flag_of_Turkey.svg" alt=""> Türkçe</option>
        </select>
    </div>
    <div>
      <h1 id="title">{{$t('message.title')}}</h1>
      <h2 id="welcoming">{{$t('message.welcoming')}}</h2>
      <h3 id="option1">{{$t('message.option1')}}</h3>
      <button id="button1" type="button" class="button" @click="GoToBedNow">{{$t('message.button1')}}</button>
      <h3 id="option2">{{$t('message.option2')}}</h3>
      <button id="button2" type="button" class="button" @click="CertainTime">{{$t('message.button1')}}</button>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      locale: 'en-US'
    }
  },
  methods: {
    BelirliZaman(){
      this.$router.push('/belirlizaman')
    },
    CertainTime(){
      this.$router.push('/certaintime')
    },
    GoToBedNow(){
      this.$router.push('/gotobednow')
    },
    SimdiYatagaGir(){
      this.$router.push('/simdiyatagagir')
    },
  },
}
</script>

<style>
.button{
  background-color: #0003ba;
  color: white;
  border: 2px solid #0003ba;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
}
.button:hover {
  background-color: white;
  color: black;
}
h1, h2, h3, h4, h5, h6, p, span {
  color: white;
}
input {
  width: 50px;
  height: 25px;
  margin-right: 10px;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
.right{
  text-align: right;
  margin-left: 3%;
  margin-right: 3%;
}
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
.right{
  text-align: right;
  margin-left: 5%;
  margin-right: 5%;
}
}
@media screen and (min-width: 1001px) and (max-width: 2000px) {
.right{
  text-align: right;
  margin-left: 17%;
  margin-right: 17%;
}
}
@media screen and (min-width: 0px) and (max-width: 500px) {
.right{
  text-align: right;
  margin-left: 3%;
  margin-right: 3%;
}
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
.right{
  text-align: right;
  margin-left: 5%;
  margin-right: 5%;
}
}
@media screen and (min-width: 1001px) and (max-width: 2000px) {
.right{
  text-align: right;
  margin-left: 17%;
  margin-right: 17%;
}
}

</style>