<template>
  <div id="app">
    <div>
    <transition name="fade">
      <router-view></router-view>
    </transition>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
}
</script>

<style>
body {
  padding-top: 30px;
  background-color: rgb(9, 0, 51) !important;
  text-align: center;
  font-family: Calibri;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
